### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
total_pl = len(purchase_data.groupby(['SN']).count())
total_pl_df = pd.DataFrame({'Total Players' : [total_pl]})
total_pl_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
# Unique item
item = len(purchase_data.groupby(['Item ID']).count())
# Avg Price
avg_price = purchase_data['Price'].mean()
avg_price
# Number of Purchases
no_purchase = len(purchase_data)
no_purchase
# Total Revenue
Tot_rev = purchase_data['Price'].sum()
Tot_rev
summary_1 = pd.DataFrame({'Number of Unique Items' : [item], 'Average Price': [avg_price], 'Number of Purchases' : [no_purchase], 'Total Revenue' : [Tot_rev]})
summary_1.head().style.format({"Total Revenue": "${:20,.2f}"})\
    .format({'Average Price' : "{:20.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
# Gender Count
no_gender_df = pd.DataFrame(purchase_data['Gender'].value_counts())
no_gender_df
# Total Gender
total_gender = no_gender_df.sum()
pct_gender = pd.DataFrame((no_gender_df / total_gender) * 100)
pct_gender
# Gender DF
gender_df = no_gender_df.merge(pct_gender, left_index=True, right_index=True)
gender_df = gender_df.rename(columns ={'Gender_x': 'Total Count', 'Gender_y': 'Percentage of Players'})
gender_df.style.format({'Percentage of Players' : "{:5.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
# Average Purchase Price
gender_mean = purchase_data.groupby(['Gender']).mean()
gender_avg_price = gender_mean['Price']

# Sum Purchase Price
gender_sum = purchase_data.groupby(['Gender']).sum()
gender_sum_price = gender_sum['Price']


# Total Purchase Per Person
gender_ID_sum = purchase_data.groupby(['Gender', 'SN']).sum()
# Female
sum_female = gender_ID_sum.loc['Female','Price']
avg_female = sum_female.sum()/len(sum_female)

# Male
sum_male = gender_ID_sum.loc['Male', 'Price']
avg_male = sum_male.sum()/len(sum_male)

# ND
sum_ND = gender_ID_sum.loc['Other / Non-Disclosed', 'Price']
avg_ND = sum_ND.sum()/len(sum_ND)

# Create list of avg total purchase per person
Avg_total_purchase_per_person = [avg_female, avg_male, avg_ND]

# Create DataFrame for Summary
summary_2 = pd.DataFrame({'Purchase Count': gender_df['Total Count'],'Average Purchase': gender_avg_price, 'Total Purchase Value': gender_sum_price, 'Avg Total Purchase per Person' : Avg_total_purchase_per_person })
# Summary table with style formatting
summary_2.style.format({'Average Purchase' : "${:10.2f}", 'Total Purchase Value' : "${:10.2f}", 'Avg Total Purchase per Person' : "${:10.2f}"})
# gender_df['Total Count']

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
# Groupby Player
grouped_player = purchase_data.groupby(['SN'])
grouped_player_df = pd.DataFrame(grouped_player['Age'].value_counts())

# Count the mean



grouped_player_df = grouped_player_df.rename(columns={"Age": "Count Purchase"})
grouped_player_df = grouped_player_df.reset_index()
grouped_player_df

# Create the bins in which Data will be held
bins = [0, 9, 14, 19, 24, 29, 34, 39, 49]
# Label for bins
label_group = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']
# Create New Data Frame for age group
grouped_player_df['Age Group'] = pd.cut(grouped_player_df['Age'], bins, labels= label_group, include_lowest=True)
# total_count_age_grp = grouped_player_df['Age Group'].value_counts()

# age_demog_df = pd.DataFrame({})
total_count_age_grp = grouped_player_df.groupby('Age Group').count()
total_count_age_grp = total_count_age_grp.reset_index()
total_count_age_grp = total_count_age_grp.set_index('Age Group')
total_count_age_grp.rename(columns = {'Count Purchase' : 'Total Count'}, inplace = True)
total_count_age_grp['Percentage of Players'] = (total_count_age_grp['Total Count'] / total_count_age_grp['Total Count'].sum()) * 100
total_count_age_grp = total_count_age_grp.drop(['SN', 'Age'], axis = 1)
total_count_age_grp.style.format({'Percentage of Players': "{:5.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
# Total Purchase Per Person
Age_SN_sum = purchase_data.groupby(['Age', 'SN']).sum()
# Count
Age_SN_count = purchase_data.groupby(['Age', 'SN']).count()
count_player = Age_SN_count.loc[:,'Price']
sum_player = Age_SN_sum.loc[:,'Price']
# avg_player = sum_player.sum()/count_player
avg_SN = sum_player/count_player

# sum_player
df = pd.DataFrame({'Total_Price': sum_player})
df.reset_index(inplace = True)


# Create the bins in which Data will be held
bins = [0, 9, 14, 19, 24, 29, 34, 39, 55]
# Label for bins
label_group = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']
# Create New Data Frame for age group
df['Age Group'] = pd.cut(df['Age'], bins, labels= label_group, include_lowest=False)


# Count The Purchase ID
# Groupby Purchase ID
ff = purchase_data.groupby('Purchase ID').count()
ID_df = pd.DataFrame({'Age': purchase_data['Age'], 'Purchase Count': ff['Age']})
ID_df['Age Group'] = pd.cut(ID_df['Age'], bins, labels= label_group, include_lowest=False)
# Purchase Count
Count_purchase2 = ID_df.groupby('Age Group').count()
# Count_purchase2


# Total Purchase
Total_purchase = df.groupby('Age Group').sum()
# Avg_Purchase
Avg_purchase = Total_purchase['Total_Price'] / Count_purchase2['Purchase Count']
# Avg Purchase per person
Avg_purchase_person = df.groupby('Age Group').mean()

summary_3 = pd.DataFrame({'Purchase Count': Count_purchase2['Purchase Count'], 'Avg Purchase': Avg_purchase,'Total Purchase Value': Total_purchase['Total_Price'], 'Avg Total Purchase per Person': Avg_purchase_person['Total_Price'], })
summary_3.style.format({'Avg Purchase': "${:10.2f}", 'Total Purchase Value': "${:10.2f}", 'Avg Total Purchase per Person': "${:10.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [42]:
SN_sum = purchase_data.groupby('SN').sum()

# Count Grouped SN
SN_count = purchase_data.groupby('SN').count()

# Avg Grouped SN
SN_avg = SN_sum['Price'] / SN_count['Price']
SN_avg

Spender_df = pd.DataFrame({'Purchase Count' : SN_count['Price'], 'Average Purchase Price' : SN_avg,'Total Purchase Value' : SN_sum['Price']})

Spender_df.sort_values(by = 'Total Purchase Value', ascending = False, inplace = True)

Spender_df.head().style.format({'Average Purchase Price' : "${:10.2f}", 'Total Purchase Value' : "${:10.2f}" })

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [82]:
# Create total purchase, number of item bought
popular_sum = purchase_data.groupby(['Item ID', 'Item Name']).sum()
popular_count = purchase_data.groupby(['Item ID', 'Item Name']).count()
popular_price = popular_sum['Price'] / popular_count['Price']
df = pd.DataFrame({'Purchase Count' : popular_count['Price'], 'Item Price' : popular_price, 'Total Purchase Value': popular_sum['Price']})
df.sort_values(by = 'Purchase Count', ascending = False, inplace = True)
df.head().style.format({'Item Price' : "${:10.2f}", 'Total Purchase Value': "${:10.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [83]:
df.sort_values(by = 'Total Purchase Value', ascending = False, inplace = True)
df.head().style.format({'Item Price' : "${:10.2f}", 'Total Purchase Value': "${:10.2f}"})

## Summary

There are three obvious Trend Observed:
* Most of the buyer is Male
* the most buyer is in age group of 20-24 yr-old.
* there's not much different on the average spent between gender