### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [10]:
total_pl = len(purchase_data.groupby(['SN']).count())
total_pl_df = pd.DataFrame({'Total Players' : [total_pl]})
total_pl_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

   Number of Unique Items Average Price Number of Purchases Total Revenue
0                     179         $3.05                 780     $2,379.77

In [31]:
# Unique item
item = len(purchase_data.groupby(['Item ID']).count())
# Avg Price
avg_price = purchase_data['Price'].mean()
avg_price
# Number of Purchases
no_purchase = len(purchase_data)
no_purchase
# Total Revenue
Tot_rev = purchase_data['Price'].sum()
Tot_rev
summary_1 = pd.DataFrame({'Number of Unique Items' : [item], 'Average Price': [avg_price], 'Number of Purchases' : [no_purchase], 'Total Revenue' : [Tot_rev]})
summary_1.head().style.format({"Total Revenue": "${:20,.2f}"})\
    .format({'Average Price' : "{:20.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [52]:
# Gender Count
no_gender_df = pd.DataFrame(purchase_data['Gender'].value_counts())
no_gender_df
# Total Gender
total_gender = no_gender_df.sum()
pct_gender = pd.DataFrame((no_gender_df / total_gender) * 100)
pct_gender
# Gender DF
gender_df = no_gender_df.merge(pct_gender, left_index=True, right_index=True)
gender_df = gender_df.rename(columns ={'Gender_x': 'Total Count', 'Gender_y': 'Percentage of Players'})
gender_df.style.format({'Percentage of Players' : "{:5.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [119]:
# Average Purchase Price
gender_mean = purchase_data.groupby(['Gender']).mean()
gender_avg_price = gender_mean['Price']

# Sum Purchase Price
gender_sum = purchase_data.groupby(['Gender']).sum()
gender_sum_price = gender_sum['Price']


# Total Purchase Per Person
gender_ID_sum = purchase_data.groupby(['Gender', 'SN']).sum()
# Female
sum_female = gender_ID_sum.loc['Female','Price']
avg_female = sum_female.sum()/len(sum_female)

# Male
sum_male = gender_ID_sum.loc['Male', 'Price']
avg_male = sum_male.sum()/len(sum_male)

# ND
sum_ND = gender_ID_sum.loc['Other / Non-Disclosed', 'Price']
avg_ND = sum_ND.sum()/len(sum_ND)

# Create list of avg total purchase per person
Avg_total_purchase_per_person = [avg_female, avg_male, avg_ND]

# Create DataFrame for Summary
summary_2 = pd.DataFrame({'Purchase Count': gender_df['Total Count'],'Average Purchase': gender_avg_price, 'Total Purchase Value': gender_sum_price, 'Avg Total Purchase per Person' : Avg_total_purchase_per_person })
# Summary table with style formatting
summary_2.style.format({'Average Purchase' : "${:10.2f}", 'Total Purchase Value' : "${:10.2f}", 'Avg Total Purchase per Person' : "${:10.2f}"})
# gender_df['Total Count']

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [160]:
# Create the bins in which Data will be held
bins = [0, 9, 14, 19, 24, 29, 34, 39, 49]
# Label for bins
label_group = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

# Groupby SN
grouped_player_df = purchase_data.groupby(['SN'])
grouped_player_df['A']
# purchase_data['Age Group'] = pd.cut(purchase_data['Age'], bins, labels= label_group, include_lowest=True)
# purchase_data[['Age Group', 'Age']].head(20)

# purchase_data['Age Group'].value_counts()

                   Purchase ID  Gender  Item ID  Item Name  Price  Age Group
SN            Age
Adairialis76  16             1       1        1          1      1          1
Adastirin33   35             1       1        1          1      1          1
Aeda94        17             1       1        1          1      1          1
Aela59        21             1       1        1          1      1          1
Aelaria33     23             1       1        1          1      1          1
...                        ...     ...      ...        ...    ...        ...
Yathecal82    20             3       3        3          3      3          3
Yathedeu43    22             2       2        2          2      2          2
Yoishirrala98 17             1       1        1          1      1          1
Zhisrisu83    10             2       2        2          2      2          2
Zontibe81     21             3       3        3          3      3          3

[576 rows x 6 columns]

In [209]:
grouped_player = purchase_data.groupby(['SN'])
grouped_player_df = pd.DataFrame(grouped_player['Age'].value_counts())

grouped_player_df = grouped_player_df.rename(columns={"Age": "Count Purchase"})
grouped_player_df = grouped_player_df.reset_index()
grouped_player_df

# Create the bins in which Data will be held
bins = [0, 9, 14, 19, 24, 29, 34, 39, 49]
# Label for bins
label_group = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']
# Create New Data Frame for age group
grouped_player_df['Age Group'] = pd.cut(grouped_player_df['Age'], bins, labels= label_group, include_lowest=True)
# total_count_age_grp = grouped_player_df['Age Group'].value_counts()

# age_demog_df = pd.DataFrame({})
total_count_age_grp = grouped_player_df.groupby('Age Group').count()
total_count_age_grp = total_count_age_grp.reset_index()
total_count_age_grp = total_count_age_grp.set_index('Age Group')
total_count_age_grp.rename(columns = {'Count Purchase' : 'Total Count'}, inplace = True)
total_count_age_grp['Percentage of Players'] = (total_count_age_grp['Total Count'] / total_count_age_grp['Total Count'].sum()) * 100
total_count_age_grp = total_count_age_grp.drop(['SN', 'Age'], axis = 1)
total_count_age_grp.style.format({'Percentage of Players': "{:5.2f}%"})

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80